RCMM_URL_SLASH = /
RCMM_SU_FEED_URL = https:$(RCMM_URL_SLASH)$(RCMM_URL_SLASH)sunven.github.io/rcmm/appcasts/dev.xml
RCMM_DISPLAY_VERSION = $(MARKETING_VERSION)
INFOPLIST_KEY_SUFeedURL = $(RCMM_SU_FEED_URL)
INFOPLIST_KEY_SUPublicEDKey = AVNVnTOaWpZRsy+FrC0mPJvcQ8VcY4FL56GWOVCWvxM=
INFOPLIST_KEY_SUEnableAutomaticChecks = NO
INFOPLIST_KEY_RCMMDisplayVersion = $(RCMM_DISPLAY_VERSION)
ENABLE_LIBRARY_VALIDATION = NO
