RCMM_URL_SLASH = /
RCMM_SU_FEED_URL = https:$(RCMM_URL_SLASH)$(RCMM_URL_SLASH)sunven.github.io/rcmm/appcasts/dev.xml
RCMM_SHORT_VERSION = 1.0.0
RCMM_BUILD_NUMBER = 1
RCMM_BUNDLE_VERSION = $(RCMM_SHORT_VERSION).$(RCMM_BUILD_NUMBER)
RCMM_DISPLAY_VERSION = $(RCMM_SHORT_VERSION)-dev.$(RCMM_BUILD_NUMBER)
RCMM_RELEASE_PAGE_URL = https:$(RCMM_URL_SLASH)$(RCMM_URL_SLASH)github.com/sunven/rcmm/releases
INFOPLIST_KEY_SUFeedURL = $(RCMM_SU_FEED_URL)
INFOPLIST_KEY_SUPublicEDKey = AVNVnTOaWpZRsy+FrC0mPJvcQ8VcY4FL56GWOVCWvxM=
INFOPLIST_KEY_SUEnableAutomaticChecks = NO
INFOPLIST_KEY_RCMMDisplayVersion = $(RCMM_DISPLAY_VERSION)
INFOPLIST_KEY_RCMMReleasePageURL = $(RCMM_RELEASE_PAGE_URL)
INFOPLIST_KEY_CFBundleShortVersionString = $(RCMM_SHORT_VERSION)
INFOPLIST_KEY_CFBundleVersion = $(RCMM_BUNDLE_VERSION)
ENABLE_LIBRARY_VALIDATION = NO
INFOPLIST_KEY_RCMMRepositoryRoot = $(SRCROOT)
