<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(RCMM_SHORT_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(RCMM_BUNDLE_VERSION)</string>
	<key>RCMMDisplayVersion</key>
	<string>$(RCMM_DISPLAY_VERSION)</string>
	<key>RCMMReleasePageURL</key>
	<string>$(RCMM_RELEASE_PAGE_URL)</string>
	<key>RCMMRepositoryRoot</key>
	<string>$(SRCROOT)</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>$(RCMM_SU_FEED_URL)</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>AVNVnTOaWpZRsy+FrC0mPJvcQ8VcY4FL56GWOVCWvxM=</string>
</dict>
</plist>
